.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: var(--space-8);
}

.title {
  margin: 0 0 var(--space-2);
  color: var(--clr-danger-a10);
}

.message {
  margin: 0;
  color: var(--clr-surface-a50);
}
