.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-4);
}

.title {
  font-weight: 700;
  text-align: center;
}
