.skeletonContainer {
  padding: 0;
}

.skeletonRow {
  display: flex;
  gap: var(--space-2);
  padding: var(--space-1) var(--space-2);
  border-bottom: 1px solid var(--clr-surface-a30);
}

.skeletonEvent {
  flex: 1;
}
