.scrollContainer {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.innerContainer {
  position: relative;
}

.visibleWindow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
}
