.scrollContainer {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.innerContainer {
  position: relative;
  width: 100%;
}

.virtualRow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}
