.card {
  background-color: var(--clr-surface-a0);
  border: 1px solid var(--clr-surface-a30);
  border-radius: var(--radius);
}

.padding-none {
  padding: 0;
}

.padding-sm {
  padding: var(--space-2);
}

.padding-md {
  padding: var(--space-4);
}

.padding-lg {
  padding: var(--space-6);
}
